html, body {
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #0d0d0d;
  color: #FFF;
  overflow: hidden;
}

body {
  text-align: center;
  margin: auto;
  width: 500px;
}

.github {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 0;
    z-index: 9999;
    width: 165px;
    height: 150px;
    overflow: hidden;
    justify-content: right;
}